<div class="widget-container" #container>

  <div appDrag [draggableTarget]="container">

    <mat-toolbar>
      <span>{{title | titlecase}}</span>

      <span class="widget-header-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRemove()">
          Remove
        </button>
      </mat-menu>

    </mat-toolbar>
  </div>

  <div class="widget-content">
    <canvas
      baseChart
      [chartType]="chartType"
      [labels]="chartLabels"
      [datasets]="chartData"
      [options]="chartOptions"
      [legend]="true">
    </canvas>
  </div>

</div>
