.widget-container {
  border: 1px solid #E1E2E4;
  background-color: white;
  min-width: 500px;
  min-height: 300px;
  width: 800px;
  height: 500px;
  margin: 2px;
  position: absolute;
  overflow: hidden;
  resize: both;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.widget-header-spacer {
  flex: 1 1 auto;
}

.widget-content {
  margin: 20px;
}
