<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

    <mat-select placeholder="Please select a widget" fxFlex="20"
                [disabled]="widgets.length === 0"
                [(value)]="widgetSelected">
      <mat-option *ngFor="let w of widgets"
                  [value]="w">
        {{ w.title | titlecase }}
      </mat-option>
    </mat-select>

    <button mat-raised-button
            [disabled]="widgetSelected.component === null"
            (click)="onAddClick()">
      Add
    </button>

  </div>

  <div class="widgets-container" fxLayout="row wrap" fxLayoutGap="10px">
    <ng-template #widgetsContainer></ng-template>
  </div>
</div>
