<div class="widget-container" #container>

  <div appDrag [draggableTarget]="container">

    <mat-toolbar>
      <span>{{title | titlecase}}</span>

      <span class="widget-header-spacer"></span>

      <button mat-icon-button
              (click)="onRemove()">
        <mat-icon>clear</mat-icon>
      </button>

    </mat-toolbar>
  </div>

  <div class="widget-content">
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="colName">
        <mat-header-cell *matHeaderCellDef fxFlex="30">Name</mat-header-cell>
        <mat-cell *matCellDef="let item" fxFlex="30">{{item.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="colAuctions">
        <mat-header-cell *matHeaderCellDef fxFlex="10">Auctions</mat-header-cell>
        <mat-cell *matCellDef="let item" fxFlex="10">{{item.auctions}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="colRequests">
        <mat-header-cell *matHeaderCellDef fxFlex="10">Requests</mat-header-cell>
        <mat-cell *matCellDef="let item" fxFlex="10">{{item.requests}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="colBids">
        <mat-header-cell *matHeaderCellDef fxFlex="10">Bids</mat-header-cell>
        <mat-cell *matCellDef="let item" fxFlex="10">{{item.bids}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="colViews">
        <mat-header-cell *matHeaderCellDef fxFlex="10">Views</mat-header-cell>
        <mat-cell *matCellDef="let item" fxFlex="10">{{item.views}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="colClicks">
        <mat-header-cell *matHeaderCellDef fxFlex="10">Clicks</mat-header-cell>
        <mat-cell *matCellDef="let item" fxFlex="10">{{item.clicks}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="colCTR">
        <mat-header-cell *matHeaderCellDef fxFlex="10">CTR</mat-header-cell>
        <mat-cell *matCellDef="let item" fxFlex="10">{{item.CTR}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="colCPC">
        <mat-header-cell *matHeaderCellDef fxFlex="10">CPC</mat-header-cell>
        <mat-cell *matCellDef="let item" fxFlex="10">{{item.CPC}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
  </div>

</div>
